<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.tasker.babysitter"
    android:versionCode="6"
    android:versionName="Babysitter-v1.0.5" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- make a phone call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
  	IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
  	to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="tw.tasker.babysitter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tw.tasker.babysitter.permission.C2D_MESSAGE" />

    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="tw.tasker.babysitter.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCLzUxrhoPiXZVBxFiicvuUy9fbvzQ4h0c" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- replace @drawable/push_icon with your push icon identifier -->
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher" />

        <activity android:name="tw.tasker.babysitter.view.activity.SplashActivity" 
            android:theme="@android:style/Theme.Black.NoTitleBar" 
            
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.BabysittersActivity"
            android:label="@string/title_item_list"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.BabysitterMapActivity"
            android:label="@string/title_activity_map"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.BabysitterActivity"
            android:label="@string/title_item_detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.BabysitterCommentActivity"
            android:label="@string/title_activity_babysitter_comment"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.BabyRecordActivity"
            android:label="@string/title_activity_baby_detail"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.BabyDiaryActivity"
            android:label="@string/title_activity_baby_diary" >
        </activity>

        <!-- user manager -->
        <activity
            android:name="tw.tasker.babysitter.view.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.SignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.DispatchActivity"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.SignUpOrLogInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.MyFavoriteActivity"
            android:label="我的收藏" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.SearchActivity"
            android:label="保母搜尋" >
        </activity>
        <activity
            android:name="tw.tasker.babysitter.view.activity.SitterActivity"
            android:label="保母設定" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name. -->
                <category android:name="tw.tasker.babysitter" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="tw.tasker.babysitter.Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>